.left{
    float: left;
}

.right{
    float: right;
}

#topbar{
    background-color: #4b71d3;
}

.container{
    width: 1200px;
}

/*.nav li a:hover{*/
    /*background-color:#fb9600;*/
/*}*/

.nav li a{
    color: #ffffff;
    font-size: 15px;
}

.nav > li {
    display: inline-block;
}