<?xml version="1.0" encoding="UTF-8" ?>
<!--XML 配置文件（configuration XML）中包含了对 MyBatis 系统的核心设置，
包含获取数据库连接实例的数据源（DataSource）和决定事务作用域和控制方式的
事务管理器（TransactionManager）。-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--MyBatis全局配置文件-->

<configuration>
    <!--以下配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以下配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以下配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--<properties resource="database.properties"/>-->
    <!--以上配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以上配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以上配置内容作为单元测试用，正式运行项目时需要注释掉-->

    <!--全局参数设置-->
    <settings>
        <!--开启驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true" />

    </settings>


    <!--以下配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以下配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以下配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--<environments default="development">-->

        <!--<environment id="development">-->
            <!--&lt;!&ndash;事务管理器&ndash;&gt;-->
            <!--<transactionManager type="JDBC"/>-->

            <!--&lt;!&ndash;2.采用引入外部文件的形式&ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${dataSource.driverClassName}"/>-->
                <!--<property name="url" value="${dataSource.url}"/>-->
                <!--<property name="username" value="${dataSource.username}"/>-->
                <!--<property name="password" value="${dataSource.password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->

    <!--</environments>-->

    <!--&lt;!&ndash;5.sql映射资源&ndash;&gt;-->
    <!--<mappers>-->
        <!--&lt;!&ndash;SQL语句映射文件&ndash;&gt;-->
        <!--<mapper resource="mapper/serverMapper.xml"/>-->
    <!--</mappers>-->
    <!--以上配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以上配置内容作为单元测试用，正式运行项目时需要注释掉-->
    <!--以上配置内容作为单元测试用，正式运行项目时需要注释掉-->

</configuration>