<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qyk.Jupyter.dao.ServerDao">
    <select id="getAll" resultType="com.qyk.Jupyter.model.Server">
        SELECT * FROM tb_running_server
    </select>
    
    <select id="getBuUid" resultType="com.qyk.Jupyter.model.Server">
        SELECT * FROM tb_running_server WHERE uid = #{uid}
    </select>
    
    <select id="getByPort" resultType="com.qyk.Jupyter.model.Server">
        SELECT * FROM tb_running_server WHERE port = #{port}
    </select>
    
    <delete id="deleteByPort">
        DELETE FROM tb_running_server WHERE port = #{port}
    </delete>
    
    <delete id="deleteByUid">
        DELETE FROM tb_running_server WHERE uid = #{uid}
    </delete>

    <delete id="deleteByToken">
        DELETE FROM tb_running_server WHERE token = #{token}
    </delete>
    
    <insert id="insert">
        INSERT INTO tb_running_server(uid, port, token, create_time) VALUE(#{uid}, #{port}, #{token}, #{createTime})
    </insert>
</mapper>